@import url('https://fonts.googleapis.com/css2?family=Bangers&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mirza:wght@400;500;600;700&display=swap');


:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #0d2b40;
  --color-dark--2: #1a466a;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow: hidden;
}

@keyframes color {
  0%{
    background-position:  0 50%;

  }
  50%{
    background-position: 100% 50%;
  }

  100%{
    background-position: 0% 50%;
  }
}

@keyframes gradient {
	/* 0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	} */

  0% {
      background-position: 4% 0px;
  }

  50% {
      background-position: 97% 100%;
  }

  100% {
      background-position: 4% 0px;
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  
}
.logRegPage{
  font-family: 'Manrope', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: linear-gradient(rgb(39, 106, 161) 0%, rgb(59, 221, 145) 100%); */
  background: linear-gradient(-45deg, rgb(39, 106, 161), rgb(59, 221, 145), var(--color-brand--1), var(--color-dark--2));

  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  animation: gradient 15s ease infinite;
  background-size: 300% 300%;

}

.logRegPage::before,
.logRegPage::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;

  opacity: 40%;
}

.logRegPage::before {
  background:  rgb(39, 106, 161);
  filter: url(#noiseFilter);
  z-index: 1;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav a{
  position: relative;
  font-size: 24px;
  color: var(--color-dark--1) !important;
  text-decoration: none;
  font-weight: 700;
  font-family: "Josefin Sans", serif;

  margin-top: 1em;
  left: 2px !important;
}

.nav a::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-dark--1) !important;

  transition: .3s;
}
.nav a:hover::before{
  width: 100%;
}
.logo {
  margin-top: 1em;
  width: auto;
  max-height: none;
  height: auto;
  display: block;
  margin-left: 1em;
}
.logo img{ 

  height: auto;
  max-width: 45% !important;
}


/* .about {
  margin-left: 70em;
  font-size: 1.5em;
  font-weight: 900;
  color: var(--color-dark--1) !important;
  text-decoration: none;
  gap: 2px;
  width: auto;
  height: auto;
} */
/* .logo img{
   max-width: ;
} */
.wrapper{
  position: relative;
  width: 440px;
  height: 420px;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgb(25, 89, 143);
  border: .1px solid rgba(255, 255, 255, .2);
  color: #fff;
  border-radius: 10px;
  z-index: 1;
  margin-left: 26em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 1s ease;
  perspective: 1000px;

  overflow: hidden;
}

.wrapper.active{
  height: 520px;

}

.wrapper .form-box{
  width: 100%;
  padding: 47px;
}


h1{
  font-family: "Josefin Sans", serif;
  /* color: #095833; */
  color: var(--color-dark--1);

  /* color: #fff; */
  font-weight: 500;

  font-size: 36px;
  text-align: center;
}

.formContainer{
  display: block;
}

.input-box{
  position: relative;
  width: 119%;
  height: 50px;
  align-items: center;
  right: 2em;
  /* background: var(--color-dark--2); */
  margin: 30px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(247, 239, 239, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color: #e3dede;
  opacity: .6;
}
.input-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.remember-forgot label input{
  accent-color: #095833;

  margin-right: 3px;
}
.remember-forgot label{
  color: var(--color-dark--1);
  font-weight: 600;
}
.remember-forgot a{
  color: var(--color-dark--1) !important;
  text-decoration: none;
  font-weight: 600;
}
.remember-forgot a:hover{
  text-decoration: underline;
}
.wrapper .btn{
  width: 100%;
  height: 45px;
  background: var(--color-dark--1);
  border: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 18px;
  left: 5em;
  color: #fff;
  font-weight: 600;
}

.btn:hover{
  background: var(--color-dark--2);
  color: #fff;
  transition: .3s ease-out;
}
.wrapper .register-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.register-link p a{
  color: var(--color-dark--1);
  text-decoration: none;
  font-weight: 600;
  gap: 2px;
}
.register-link a:hover{
  color: var(--color-dark--2);
}

.wrapper{
  perspective: 1000px;
}
.wrapper ._form-box.login{
  transition: transform .18s ease;
  transform: translateX(0);
  /* display: none; */
}
/* rotate entire wrapper on active*/
.wrapper.active{
  height: 520px;
  transform: rotateY(180deg);
  transition: 1s;

}
.wrapper.active ._form-box.login{
  transition: none;
  transform: translateX(-400px);

}
.wrapper ._form-box.register{
  position: absolute;
  transition: none;
  transform: translateX(400px);
  transform-style: preserve-3d;
}

.wrapper.active ._form-box.register{
  transition: transform .18s ease;
  /* transform: translateX(0); */
  transform: rotateY(180deg);
  
}

.card {
  width: 300px;
  height: 60px;
  border-radius: 14px;
  box-sizing: border-box;
  padding: 6px 10px;
  background-color: #f9c16cdc;
  
  top: 10px;
  left: 40%;
  transform: translateX(-50%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  z-index: 1000;
  animation: slideFromTop 1s ease forwards;

}
.wave {
  position: absolute;
  transform: rotate(90deg);
  left: -31px;
  top: 32px;
  width: 80px;
  fill: var(--color-brand--2);
}
.icon-container {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand--2);
  border-radius: 50%;
  margin-left: 8px;
}
.icon {
  width: 17px;
  height: 17px;
  color: var(--color-dark--1);
}
.message-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}
.message-text,
.sub-text {
  margin: 0;
  cursor: default;
  font-family: josefin sans;
}
.message-text {
  color: #269b24;
  font-size: 18px;
  font-weight: 700;
}
.sub-text {
  font-size: 15px;
  color: #555;
}
.cross-icon {
  width: 18px;
  height: 18px;
  color: #555;
  cursor: pointer;
}


.card.hide{
  transform: translate(-50%, -100%);
  opacity: 0;
}


/* .wrapper ._form-box{
  backface-visibility: hidden;
} */
/* .wrapper ._form-box.register,
.wrapper ._form-box.login{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

} 
.wrapper ._form-box.register{
  transform: rotateY(180deg); 
}  */
/* -------------SECOND PAGE - MAP [main]---------------*/
.main-page{
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
  background: linear-gradient(45deg, #00467F, #A5CC82,#16A085, #CC95C0);
  background-size: 300% 300%;
  /* background-color: black; */
  padding: 2.5rem;
  display: flex;
  animation: color 30s ease-in-out infinite;

}

.main-page.hidden{
  display: none;
}
/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 1rem 3rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 30px ;
  border-top-right-radius	: 0px;
  border-bottom-right-radius	: 0px;

  transition: all 0.5s ease-in-out;
}

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}
.buttons{
  margin: 10px;
}
.deleteAll{
  padding: 7px 14px;
  border: 2px solid #2c2c2c;
  background-color: #00c46a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight:lighter;
}

.deleteAll::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    #00c46a 10%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.deleteAll::after {
  transform: scale(4);
}

.deleteAll:hover {
  border-color: #666666;
  background: #242222;
  color: #ececec;
}

.msg{
  align-items: center;
  margin-left: 3em;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-top: 50px;
  font-weight: 600;
  font-style: italic;
  color: var(--color-light--1);

}
.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout {
  background-color: var(--color-dark--2);
  border-radius: 14px;
  padding: 1.9rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;

  position: relative;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  gap: 0.75rem 1.5rem;
}
.workout--running {
  border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}

.workout__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.workout__details {
  display: flex;
  align-items: baseline;
}

.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}
.workout:hover{
  background-color: #081826;
  transform: translateY(-2px);
  transition: ease-in-out 0.3s;
}

.deleteWorkoutBtn{
    position: absolute; /*dont use fixed pos!!!! it only focuses on one card el n screen port*/
    
    top: 10px;          
    right: 10px;        
    width: auto;        
    font-size: 13px;  
    color: white;       
    background-color: var(--color-dark--2); 
    padding: 5px;      
    border: none;       
    border-radius: 50%; 
    cursor: pointer;   
    display: flex;      /* Align the icon properly */
    justify-content: center; /* Center the icon */
    align-items: center;
    /* bottom: 10%; */
  
}
.deleteWorkoutBtn:hover{
  color: var(--color-brand--2);
}
.editBtn{
  position: absolute; 
    
    top: 10px;          
    right: 35px;        
    width: auto;        
    font-size: 13px;  
    color: white;       
    background-color: var(--color-dark--2); 
    padding: 5px;      
    border: none;       
    border-radius: 50%; 
    cursor: pointer;   
    display: flex;      /* Align the icon properly */
    justify-content: center; /* Center the icon */
    align-items: center;
}
.editBtn:hover{
  color: var(--color-brand--2);
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 12px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 11.65rem;
  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}
.form__input--date{
  color: #666666;
}

.form__btn {
  display: none;
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  z-index: 2;
  height: 100%;
  background-color: var(--color-light--1);
  border-radius: 30px;
  border-top-left-radius	: 0px;
  border-bottom-left-radius	: 0px;
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 11px;
  padding-right: 0.6rem;
  cursor: pointer;
}

.leaflet-popup .leaflet-popup-content-wrapper:hover {
  transform: scale(1.05); /* Enlarge on hover */
  transition: ease-in-out;
}
.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}

.deleteAllCard{
  width: 390px;
  height: 220px;
  background-color: #ececec;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px ;
  gap: 13px;
  position: absolute;
  top: 50%;
  right: 21%;
  transform: translate(-70%, -70%);
  z-index: 12;
  overflow: hidden;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);

}
.warnIcon{
  width: 50px;
}
/* want spinner on top of wrapper */


.spinner {
  position: absolute; /* Position absolutely within the wrapper */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for centering */
  z-index: 100; /* Higher z-index to appear on top */
  width: 4rem; /* Adjust size as needed */
  height: 4rem; /* Adjust size as needed */
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 4rem;
    width: 4rem;
    fill: #099252;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner.hidden{
  display: none;
}

.heading{
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--color-dark--1);

}
.desc, br{
  text-align: center;
  font-size: 0.9em;
  font-weight: 600;
  color: var(--color-dark--2);
}

.btnContainer {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.confirmBtn {
  width: 80px;
  height: 30px;
  background-color: var(--color-brand--2);
  transition-duration: .2s;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px var(--color-brand--2), 0 2px 4px -1px var(--color-brand--2);
  transition: all .6s ease;
}

.noBtn {
  width: 80px;
  height: 30px;
  background-color: var(--color-brand--1);
  transition-duration: .2s;
  color: rgb(46, 46, 46);
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px var(--color-brand--1), 0 2px 4px -1px var(--color-brand--1);
  transition: all .6s ease;
}

.noBtn:hover {
  background-color: #ebebeb;
  box-shadow: 0 10px 15px -3px #bebdbd, 0 4px 6px -2px #bebdbd;
  transition-duration: .2s;
}

.confirmBtn:hover {
  background-color: var(--color-brand--2);
  box-shadow: 0 10px 15px -3px var(--color-brand--2), 0 4px 6px -2px, var(--color-brand--2);
  transition-duration: .2s;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(.12px);
  z-index: 5;
}

.hide{
  display: none;
}